<div class="card" appHighlightCard="yellow">
  <img src="assets/data/recipe-images/{{recipe?.image}}.png" alt="Item Image" class="card-image">
  <div class="card-content">
    <h5 class="card-title">{{ recipe?.name }}</h5>
    <p class="card-description">{{ recipe?.description }}</p>
    <p class="card-price">{{ recipe?.price }}$</p>
    <div class="card-button-container">
      <button *ngIf="canRemove" (click)="removeFromCart()" class="card-button">Remove</button>
      <button *ngIf="canAdd" class="card-button" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
