<div [formGroup]="formGroup">
  <div class="page-container">
    <div style="margin-bottom: 15px;">
      <input type="text" formControlName="searchExpression" placeholder="Search..." class="search-input">
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let recipe of recipes">
        <app-recipe-item [recipe]="recipe" [canRemove]="removableRecipes" [canAdd]="insertableRecipes"
                         (selectedRecipeEvent)="selectedRecipeCallBack($event)"
                         (removeRecipeEvent)="removeRecipeCallBack($event)"
        ></app-recipe-item>
      </div>
    </div>
  </div>
</div>
