<div class="page-container">
  <div class="user-container">
    <select (change)="onUserChanged($event.target)">
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.name }}
      </option>
    </select>
    <a *ngIf="currentUser && currentUser.id" routerLink="/my-recipe/{{this.currentUser.id}}">
      <img src="assets/icons/basket.png">
    </a>
  </div>
  <div>
    <app-recipe-card-view [recipes]="recipes" [removableRecipes]="false" [insertableRecipes]="true"
                          (selectedRecipeEvent)="selectedRecipeCallBack($event)">
    </app-recipe-card-view>
  </div>
</div>
